header, footer {
    background-color: #4b4d4e;
    color: white;
    text-align: left;
    padding: 1em;
    width: 100%;
    position: fixed;
    left: 0;
    padding-left: 20px;
}

a:link {
    color: #add8e6; /* Lighter blue color for unclicked links */
}

a:visited {
    color: inherit; /* Remove the clicked link color */
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/*TODO: Make the main content scrollable*/
main {
    flex: 1;
    margin-top: 60px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    overflow-y: auto;
    padding: 1em;
}