header, footer {
    background-color: #4b4d4e;
    color: #e39caa;
    text-align: left;
    padding: 1em;
    width: 100%;
    position: fixed;
    left: 0;
    padding-left: 20px;
}

a:link {
    color: #54bce3; /* Lighter blue color for unclicked links */
}

a:visited {
    color: #54bce3;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 5000vh;
    overflow-y: scroll;
}
/*TODO: Make the main content scrollable*/
/* sticky {
    position: sticky;
    top: 20px;
} */
main {
    flex: 1;
    margin-top: 60px; /* Adjust based on header height */
    margin-bottom: 60px; /* Adjust based on footer height */
    overflow-y: auto;
    padding: 1em;
}

